# Database Configuration
DATABASE_URL=postgresql://budget_db_uz3l_user:DfWCVdVQulVBIe0L6XvDcpyadrNyRQIl@dpg-d4n1379r0fns73ajeob0-a/budget_db_uz3l

# JWT Configuration
JWT_SECRET=test
JWT_EXPIRY=15m
REFRESH_EXPIRY=168h

# Frontend URL (for CORS and email links)
FRONTEND_URL=http://localhost:3000

# Email Configuration (Resend)
RESEND_API_KEY=re_test
FROM_EMAIL=Budget Famille <noreply@budgetfamille.com>

# Server Configuration
PORT=8080
ENVIRONMENT=development

BRIDGE_CLIENT_ID=your_client_id_here
BRIDGE_CLIENT_SECRET=your_client_secret_here
BRIDGE_ENV=sandbox  

ANTHROPIC_API_KEY=key
ADMIN_SECRET=test

ENABLE_BANKING_APP_ID=xxxxf836-6cd4-0000-b398-77fxxxxef930
ENABLE_BANKING_PRIVATE_KEY_PATH=./private-key.pem
ENABLE_BANKING_PRIVATE_KEY_BASE64=test

CACHE_DURATION_DAYS=30
DEFAULT_USER_COUNTRY=FR